# 1. Collecting relevant data

In this step, we collected the quantitative data that could be used by a ML system to make predictions. Before collecting this data, we needed to identify the channels through which an ML system could realistically harvest data within the identified domestic practice. These channels could be, for instance: (1) device sensors that track user interactions; (2) wearable sensors that monitor biometric data, the user’s current activity, or their location; (3) fixed sensors that detect environmental data, such as temperature, occupancy, or light intensity; (4) services that collect information about their users’ behavior, such as purchase patterns or resource consumption patterns. The data that was collected for the grocery automation case study was in the form of grocery receipts(figure~\ref{fig:receipts}). This data is automatically collected by supermarkets, and can be linked to individual customers through their customer cards or online purchases.

In this notebook we:
1. Import the data we collected in an excel file
2. Preview our dataset

### Import libraries

In [1]:
#Pandas is a software library written for the Python programming language for data manipulation and analysis.
import pandas as pd
#NumPy is a library for the Python programming language, adding support for large, multi-dimensional arrays and matrices, along with a large collection of high-level mathematical functions to operate on these arrays
import numpy as np
# Matplotlib is a plotting library for python and pyplot gives us a MatLab like plotting framework. We will use this in our plotter function to plot data.
import matplotlib.pyplot as plt
#Seaborn is a Python data visualization library based on matplotlib. It provides a high-level interface for drawing attractive and informative statistical graphics
import seaborn as sns

### Load and view data

In [2]:
read_file = pd.read_excel (open (r"database/DATA-HH (dummy).xlsx", 'rb'), sheet_name='H1 (2; 1M&1F-rural)')
read_file.to_csv (r"/workspaces/DesignerlyAlgorithmicPrototyping/database/DATA-HH (dummy).csv", index = None, header=True)

FileNotFoundError: [Errno 2] No such file or directory: 'database/DATA-HH (dummy).xlsx'

In [3]:
df = pd.read_csv (r"/workspaces/DesignerlyAlgorithmicPrototyping/database/DATA-HH (dummy).csv")
 
del df["HH"]
df.describe(include='all')

,week,order_ID,item_id,amount,price_unit,price_total,date,day,timestamp,time,store_type,store_name,promo,item_type,category
count,372.000000,372.000000,372,372.000000,372.000000,372.000000,372,372,372,372,372,372,372.000000,372,372
unique,NaN,NaN,314,NaN,NaN,NaN,26,7,35,4,5,9,NaN,126,16
top,NaN,NaN,GROF BROOD GESN.,NaN,NaN,NaN,2022-01-08,Saturday,17:25:00,morning,supermarket,Okay,NaN,charcuterie,fruit & vegetables
freq,NaN,NaN,6,NaN,NaN,NaN,45,87,44,186,306,127,NaN,25,103
mean,4.056452,19.182796,NaN,1.274194,2.602328,2.867247,NaN,NaN,NaN,NaN,NaN,NaN,0.083333,NaN,NaN
std,2.067470,10.531632,NaN,1.103819,1.947725,2.019200,NaN,NaN,NaN,NaN,NaN,NaN,0.276758,NaN,NaN
min,1.000000,1.000000,NaN,1.000000,0.064680,0.064680,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
25%,2.000000,10.000000,NaN,1.000000,1.300000,1.543970,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
50%,4.000000,18.000000,NaN,1.000000,2.240250,2.462860,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
75%,5.000000,26.250000,NaN,1.000000,3.290000,3.875000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
max,8.000000,39.000000,NaN,15.000000,15.610000,15.610000,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN

In [4]:
df.head()

,week,order_ID,item_id,amount,price_unit,price_total,date,day,timestamp,time,store_type,store_name,promo,item_type,category
0,1,1,RABEKO choco light 250g,2,2.82,5.64,2021-11-23,Tuesday,12:32:00,noon,supermarket,Okay,0,chocolate spread,breakfast & spreads
1,1,1,JOYVALLE pudding griesmeel natuur 135g,4,0.99,3.96,2021-11-23,Tuesday,12:32:00,noon,supermarket,Okay,0,pudding,dairy & plant based
2,1,1,BONI tomatensoep met balletjes 950ml,1,1.99,1.99,2021-11-23,Tuesday,12:32:00,noon,supermarket,Okay,0,soup,canned foods
3,1,1,LIEBIG DELISOUP 9 groenten brik 1L,1,2.59,2.59,2021-11-23,Tuesday,12:32:00,noon,supermarket,Okay,0,soup,canned foods
4,1,1,LIEBIG DELISOUP tom. Balletjes brik 1L,1,2.59,2.59,2021-11-23,Tuesday,12:32:00,noon,supermarket,Okay,0,soup,canned foods